one_quarter_results
*.npz
runs/atlas
runs/atlas_180_300
runs/nessy
fig/
.ipynb_checkpoints/
met/
hist/
img_hyd_ssd_rat/
img_nlte_lte_rat/
img_nlte_lte_rat.pdf
veronika/*.npz
veronika/spec/*.npz
veronika/cubes/300G
veronika/cubes/ssd
veronika/cubes/rot_tau200
